%h2= @tour.tour

%p= @tour.place
%p= @tour.description
%p= @tour.price
%p= @tour.date
%p= @tour.duration
%p= @tour.reservations
%p= @tour.reviews


= link_to "Back"
= link_to "Edit"
= link_to "Delete"